<%= render 'test_title', test: @test %>

<%= render 'index', questions: @questions, test: @test %>

<p>
  <div class="navigation_link"><%= link_to 'New question', new_test_question_path(@test) %></div>
</p>
