<h1 class="section_caption"><%= @test.title</h1>
<br>
<% if @question.errors.messages[:body].present? %>
  <p>
    <div class="error_list_message">Errors<div> 
    <br>  
    <% @question.errors.messages[:body].each do |message| %>
      <b>— <%= message %></b>
    <% end %>
  </p>
  <br>
<% end %>

<h class="page_caption">Create new question</h>

<form action="<%= test_questions_path(@test) %>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <label for="question-body" class="edit_caption">Question:</label>
    <input type="text" name="question[body]" id="question-body" size="70" class="edit_text">
  </p>

  <input type="submit" value="Create" class="action_button">
</form>
