<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('.header') %></span>

  <div class="nav-admin user">
    <b><%= t('.welcome_html', name: current_user.name) %></b> |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>
