<h1>Become a Guru</h1>

<div class="w-25 p-3">
	<%= render 'form', user: @user %>
</div>

<p>
  <span class="navigation_link">
    <%= link_to 'Back', root_path, 
                class: 'btn btn-sm' %>
  </span>
</p>
