<% if resource.errors.any? %>
  <p>
    <div class="error_list_message">
      <%= resource.errors.count %>
      <%= resource.errors.count > 1 ? "errors" : 'error' %> detected:
    </div> 
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><div class="error_list_message"><%= message %></div></li>
      <% end %>
    </ul>
  </p>
  <br>
<% end %>
