<% if resource.present? && resource.errors.any? %>
  <%= content_tag :div, 
    class: 'resource-errors', 
    data: {resource_id: resource.id, 
      edit_cap: t('.edit'), 
      cancel_cap: t('.cancel')} do %>
    <div class="error_list_message">
      <%= t('.header', count: resource.errors.count) %>:
    </div> 
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><div class="error_list_message"><%= message %></div></li>
      <% end %>
    </ul>
  <% end %>
  <br>
<% end %>
