<%= render 'question_body', question: @answer.question %>

<h2 class="page_caption"><%= answer_header(@answer) %></h2>

<%= render 'form', answer: @answer %>

<p>
  <span class="navigation_link">
    <%= link_to t('.go_back'), 
    			admin_question_path(@answer.question), 
                class: 'btn btn-sm' %>
  </span>
</p>
