<%= render 'test_title', test: @test %>

<%= render 'index', questions: @questions, test: @test %>

<p>
  <span class="navigation_link">
    <%= link_to t('.new_question'), 
                new_admin_test_question_path(@test), 
                class: 'btn btn-sm' %>
  </span>|
  <span class="navigation_link">
    <%= link_to t('.go_back'), 
                admin_test_path(@test), 
                class: 'btn btn-sm' %>
  </span>
</p>
