<%= render 'test_title', test: @test %>

<h2 class="page_caption"><%= question_header(@question) %></h2>

<%= render 'form', question: @question %>

<p>
  <span class="navigation_link">
    <%= link_to t('.go_back'), 
                admin_test_questions_path(@test), 
                class: 'btn btn-sm' %>
  </span>
</p>
