<h1 class="page_caption mt-3"><%= test_header(@test) %></h1>

<div class="card">
  <div class="card-body">
    <%= render 'form', test: @test %>
  </div>
</div>

<p>
  <span class="navigation_link">
    <%= link_to t('.show'), 
                admin_test_path(@test), 
                class: 'btn btn-sm' %>
  </span>|
  <span class="navigation_link">
    <%= link_to t('.go_back'), 
                admin_tests_path, 
                class: 'btn btn-sm' %>
  </span>
</p>
