<h2 class="page_caption"><%= test_header(@test) %></h2>

<%= render 'form', test: @test %>

<p>
  <div class="navigation_link"><%= link_to 'Show', @test %></div>
  <div class="navigation_link">
    <%= link_to 'Go to the list', tests_path %>
  </div>
</p>
