<div class="footer">
  <p><%= current_year %>, Nikolai Bocharov, 
    <%= github_url('TestGuru', 'https://github.com/rubygitflow/test-guru')%>
    — Tests for all occasions.</p>
  <p>Educational project from the online school <%= thinknetica_url %>.</p>
</div>
